$mobileSize: 650px;
$mobileSize2: 450px;

.title {
  font-family: var(--font-ibm-plex-mono);
}

.itemGrid {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.itemWrapper {
  width: 33%;
  display: inline-block;
  white-space: normal;
  padding: 0.5rem;

  @media screen and (max-width: $mobileSize) {
    width: 50%;
  }

  @media screen and (max-width: $mobileSize2) {
    width: 100%;
  }
}
