$mobileSize: 650px;
$mobileSize2: 450px;

.title {
	font-family: 'IBM Plex Mono', monospace;
}

.itemGrid {
	display: flex;
	flex-wrap: wrap;
	white-space: nowrap;

	.itemWrapper {
		width: 33%;
		display: inline-block;
		white-space: normal;
		padding: 0.5rem;

		@media screen and (max-width: $mobileSize) {
			width: 50%;
		}

		@media screen and (max-width: $mobileSize2) {
			width: 100%;
		}

		.item {
			border: 1px solid var(--foreground-secondary);
			border-radius: 0.75rem;
			padding: 1rem;
			height: 100%;

			transition: border-color 0.2s ease;

			&:hover {
				border-color: var(--foreground);
			}

			div {
				display: flex;

				h3 {
					font-family: 'IBM Plex Mono', monospace;
					margin: 0 0 0.25rem 0.25rem;
					font-size: 1rem;
					display: inline-block;
				}
			}

			p {
				margin: 0;
				font-size: 0.9rem;
				color: var(--foreground-secondary);
			}
		}
	}
}
