$mobileSize: 1225px;
$mobileSize2: 600px;
$mobileSize3: 450px;
$cardWidth: 300px;

@keyframes slide {
  100% {
    left: 0;
  }
}

.wrapper {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;

  @media screen and (min-width: $mobileSize2) and (max-width: $mobileSize) {
    right: calc($cardWidth + 0.5rem);
    left: auto;
  }

  @media screen and (max-width: $mobileSize3) {
    position: fixed;
    right: 0;
    left: auto;
    top: 6rem;
    width: 100vw;
  }
}

.card {
  background-color: #18191c;
  color: #fff;
  border-radius: 8px;
  padding: 1rem;
  width: $cardWidth;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
  position: absolute;
  left: 10px;
  animation: slide 0.2s forwards;
  z-index: 1000;

  @media screen and (max-width: $mobileSize3) {
    position: static;
    margin: 0 auto;
  }
}

.activity {
  padding-bottom: 1rem;

  &:last-child {
    padding-bottom: 0;
  }

  .type {
    margin: 0 0 0.5rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    align-items: center;

    svg {
      height: 0.75rem;
      margin-left: 0.5rem;
    }
  }

  .content {
    display: flex;
    flex-direction: row;

    .assets {
      min-width: 60px;
      min-height: 60px;
      max-width: 60px;
      max-height: 60px;
      position: relative;
      flex: 1;

      .largeImage {
        border-radius: 0.5rem;
      }

      .smallImageWrapper {
        position: absolute;
        bottom: -4px;
        right: -4px;
        width: 20px;
        height: 20px;

        .smallImage {
          border-radius: 50%;
        }
      }
    }

    .info {
      font-size: 0.875rem;
      margin-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      flex: auto;

      .name {
        font-family: "IBM Plex Mono", monospace;
        margin: 0;
      }

      .name,
      .details,
      .state {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.spotify {
  fill: #1db954;
}

.link:hover {
  text-decoration: underline;
}
