.article {
  .title {
    font-family: var(--font-ibm-plex-serif);
  }

  .meta {
    color: var(--foreground-secondary);
  }

  .tags {
    // ul reset
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    height: 1.25rem;
  }

  .description {
    color: var(--foreground-secondary);
  }

  .content {
    font-family: var(--font-ibm-plex-sans);
  }
}
