$mobileSize: 500px;

.wrapper {
	padding: 0 2rem;
	min-height: 100vh;

	.container {
		min-height: 100vh;
		max-width: 42rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		main {
			flex: 1;
		}
	}

	@media screen and (max-width: $mobileSize) {
		padding: 0 1rem;
	}
}
