$mobileSize: 500px;

.wrapper {
  min-height: 100vh;
}

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  position: relative;
}

.mainWrapper {
  padding: 0 2rem;

  @media screen and (max-width: $mobileSize) {
    padding: 0 1rem;
  }
}

.main {
  flex: 1;
  max-width: 42rem;
  margin: 0 auto;
}
