.pinned {
	display: flex;
	flex-wrap: wrap;
	white-space: nowrap;

	.repoWrapper {
		width: 50%;
		display: inline-block;
		white-space: normal;
		padding: 0.5rem;

		.repo {
			border: 4px solid var(--foreground);
			border-radius: 0.75rem;
			height: 100%;
			padding: 0.75rem;
			display: flex;
			flex-direction: column;
			transition: transform 0.1s ease;

			.repoName {
				margin: 0;
				font-size: 1.125rem;
				font-family: 'IBM Plex Mono', monospace;
			}

			.repoDescription {
				margin: 0.25rem 0;
				font-size: 1rem;
				flex: 1;
			}

			.repoStats {
				display: flex;
				gap: 1rem;
			}

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
