$mobileSize: 600px;

@mixin linkColors($background, $icon) {
  border-color: $background;

  &:hover {
    background-color: $background;

    svg {
      fill: $icon;
    }
  }

  &:before {
    background: $background;
  }
}

.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $mobileSize) {
    flex-direction: column-reverse;
    padding: 0 1rem;

    .picture {
      margin: 0;
    }
  }
}

.name {
  font-family: var(--font-ibm-plex-mono);
  margin: 0;
}

.position {
  font-family: var(--font-ibm-plex-mono);
  color: var(--foreground-secondary);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0;
}

.picture {
  margin-left: 2rem;
}

.pictureWrapper {
  position: relative;
  height: 128px;
  width: 128px;
}

.img {
  border-radius: 50%;
}

.link {
  display: inline-block;
  height: 42px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid var(--foreground);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0s ease;

  &:hover {
    transition: background-color 0s ease 0.2s;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--foreground);
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.3s ease-out;
  }

  &:hover:before {
    transform: scale(2);
  }

  svg {
    fill: var(--foreground);
    height: 24px;

    path {
      transition: fill 0.3s ease;
    }
  }
}

.gh {
  @include linkColors(var(--foreground), var(--background));
}

.tw {
  @include linkColors(#1da1f2, #ffffff);
}

.li {
  @include linkColors(#0a66c2, #ffffff);
}

// Experimental: "that's me" floaty

.picture {
  position: relative;
}

.thatsme {
  position: absolute;
  top: -50px;
  right: -175px;
  transform: scale(0.75);
  filter: invert(0%);
  opacity: 0.15;
  overflow: hidden;
  width: 185px;
  height: 105px;

  @media screen and (max-width: 1000px) {
    display: none;
  }

  @media screen and (max-width: $mobileSize) {
    display: block;
    left: 110px;
  }
}

.thatsmeleft {
  position: absolute;
  top: -50px;
  left: -150px;
  transform: scale(0.75);
  filter: invert(0%);
  opacity: 0.15;
  display: none;
  width: 158px;
  height: 111px;

  @media screen and (max-width: 1000px) {
    display: block;
  }

  @media screen and (max-width: $mobileSize) {
    display: none;
  }
}

[data-theme="dark"] {
  .thatsme,
  .thatsmeleft {
    filter: invert(100%);
  }
}
