.postListContainer {
  margin-top: 1.34rem;
  display: flex;
  flex-direction: column;
  gap: 1.34rem;

  .tagList {
    // ul reset
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    user-select: none;

    .activeTag {
      opacity: 1;
    }
  }

  .postList {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
