$mobileSize: 725px;

.projects {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.projectWrapper {
  width: 50%;
  display: inline-block;
  white-space: normal;
  padding: 0.5rem;

  @media screen and (max-width: $mobileSize) {
    width: 100%;
    padding: 0 0 0.5rem 0;
  }
}

.project {
  border: 4px solid var(--foreground);
  border-radius: 0.75rem;
  height: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.projectName {
  margin: 0;
  font-size: 1.125rem;
  font-family: "IBM Plex Mono", monospace;
}

.projectDescription {
  margin: 0.25rem 0 0 0;
  font-size: 1rem;
  flex: 1;
  color: var(--foreground-secondary);
}
