@mixin techColors($background, $icon) {
  border-color: $background;

  &:hover {
    background-color: $background;

    svg {
      fill: $icon;
    }
  }

  &:before {
    background: $background;
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
}

.tech {
  display: inline-block;
  height: 68px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid var(--foreground);
  border-radius: 0.75rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0s ease;

  &:hover {
    transition: background-color 0s ease 0.2s;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--foreground);
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.3s ease-out;
  }

  &:hover:before {
    transform: scale(2);
  }

  svg {
    fill: var(--foreground);
    height: 48px;

    path {
      transition: fill 0.3s ease;
    }
  }
}

.js {
  @include techColors(#f7df1e, var(--background));
}

.ts {
  @include techColors(#3178c6, #ffffff);
}

.node {
  @include techColors(#339933, #ffffff);
}

.react {
  @include techColors(#61dafb, #ffffff);
}

.next {
  @include techColors(var(--foreground), var(--background));
}

.gatsby {
  @include techColors(#663399, #ffffff);
}

.sass {
  @include techColors(#cc6699, #ffffff);
}

.sc {
  @include techColors(#db7093, #ffffff);
}

.mongo {
  @include techColors(#47a248, #ffffff);
}

.discord {
  @include techColors(#5865f2, #ffffff);
}

.git {
  @include techColors(#f05032, #ffffff);
}

.yarn {
  @include techColors(#2c8ebb, #ffffff);
}

.vercel {
  @include techColors(var(--foreground), var(--background));
}
